<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>

    <!--<add name="ClientConnectionString" connectionString="Data Source=m-petsql.net,1501;Initial Catalog=MPETNET_DOT_Washington_WSDOT;User ID=WSDOTUser;Password=[%W%d0Tu$3r%];Encrypt=True;TrustServerCertificate=True" />
    <add name="connection" connectionString="Data Source=m-petsql.net,1501;Initial Catalog=MPETNET_DOT_Washington_WSDOT;User ID=WSDOTUser;Password=[%W%d0Tu$3r%];Encrypt=True;TrustServerCertificate=True" />-->

    <!--<add name="ClientConnectionString" connectionString="Data Source=ROOT5773;Initial Catalog=MPETNET_COUNTY_Kauai_Roads;Integrated Security=True;Asynchronous Processing=True" providerName="System.Data.SqlClient"   />
    <add name="connection" connectionString="Data Source=ROOT5773;Initial Catalog=MPETNET_COUNTY_Kauai_Roads; Integrated Security=True;Asynchronous Processing=True" providerName="System.Data.SqlClient" />-->

    <!--<add name="ClientConnectionString" connectionString="Data Source=m-petsql.net;Initial Catalog=MPETNET_COUNTY_Kauai_Roads;Integrated Security=False;User ID=RoadsUser;password=[%R04d$U$3r%];Asynchronous Processing=True"/>
    <add name="connection" connectionString="Data Source=m-petsql.net;Initial Catalog=MPETNET_COUNTY_Kauai_Roads;Integrated Security=False;User ID=RoadsUser;password=[%R04d$U$3r%];Asynchronous Processing=True"/>-->
   
    <!--<add name="ClientConnectionString" connectionString="Data Source=m-petsql.net,1501;Initial Catalog=MPETNET_HWY_K;User ID=HWYKUser;Password=[%HwYkU$3r%];Encrypt=True;TrustServerCertificate=True"    />
    <add name="connection" connectionString="Data Source=m-petsql.net,1501;Initial Catalog=MPETNET_HWY_K;User ID=HWYKUser;Password=[%HwYkU$3r%];Encrypt=True;TrustServerCertificate=True"  />-->
    
    <add name="ClientConnectionString" connectionString="Data Source=ROOT5773;Initial Catalog=MPETNET_HWY_K;Integrated Security=True;Asynchronous Processing=True" providerName="System.Data.SqlClient" />
    <add name="connection" connectionString="Data Source=ROOT5773;Initial Catalog=MPETNET_HWY_K; Integrated Security=True;Asynchronous Processing=True" providerName="System.Data.SqlClient" />
    
    <!--<add name="ClientConnectionString" connectionString="Data Source=m-petsql.net,1501;Initial Catalog=MPETNET_COUNTY_Washington_Yakima;User ID=COYUser;Password=[%C0yU$3r%];Encrypt=True;TrustServerCertificate=True" />
    <add name="connection" connectionString="Data Source=m-petsql.net,1501;Initial Catalog=MPETNET_COUNTY_Washington_Yakima;User ID=COYUser;Password=[%C0yU$3r%];Encrypt=True;TrustServerCertificate=True" /> 
    
    <add name="ClientConnectionString" connectionString="Data Source=ROOT5773;Initial Catalog=MPETNET_Lindt;Integrated Security=True;Asynchronous Processing=True" providerName="System.Data.SqlClient"/>
    <add name="connection" connectionString="Data Source=ROOT5773;Initial Catalog=MPETNET_Lindt;Integrated Security=True;Asynchronous Processing=True" providerName="System.Data.SqlClient"/>
   
   <add name="ClientConnectionString" connectionString="Data Source=m-petsql.net;Initial Catalog=MPETNET_Lindt;Integrated Security=False;User ID=LindtUser;Password=[%LiNdTu$3r%];Asynchronous Processing=True" />
    <add name="connection" connectionString="Data Source=m-petsql.net;Initial Catalog=MPETNET_Lindt;Integrated Security=False;User ID=LindtUser;Password=[%LiNdTu$3r%];Asynchronous Processing=True" />-->
    
    <!--<add name="ClientConnectionString" connectionString="Data Source=ROOT5773;Initial Catalog=MPETNET_COUNTY_Washington_Yakima;Integrated Security=True;Asynchronous Processing=True" providerName="System.Data.SqlClient"   />
    <add name="connection" connectionString="Data Source=ROOT5773;Initial Catalog=MPETNET_COUNTY_Washington_Yakima; Integrated Security=True;Asynchronous Processing=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="DevExpress.Data.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxThemes.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.RichEdit.v17.1.Core, Version=17.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Printing.v17.1.Core, Version=17.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />       
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />      
      </assemblies>
    </compilation>
    <authentication mode="None" />
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <globalization culture="" uiCulture="" />
    <httpRuntime maxRequestLength="4096" requestValidationMode="4.0" executionTimeout="110" targetFramework="4.5.2" />
    <pages validateRequest="true" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <devExpress>
    <resources>
      <add type="ThirdParty" />
      <add type="DevExtreme" />
    </resources>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="iOS" customThemeAssemblies="" baseColor="" font="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings accessibilityCompliant="false" bootstrapMode="Bootstrap3" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <appSettings>
    <!--<add key="StorageAccount" value="mpetnetdev" />
    <add key="StorageKey" value="aw4WWrVYIT9KUr4gfNChW98yIXhgS5/fKvNK9dO3tpv7stUHfSKi5dDcyI1luvvbOF2eCoa2d0dbhrTQ2crzOA==" />
    <add key="StorageContainer" value="attachments" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mpetnetdev;AccountKey=aw4WWrVYIT9KUr4gfNChW98yIXhgS5/fKvNK9dO3tpv7stUHfSKi5dDcyI1luvvbOF2eCoa2d0dbhrTQ2crzOA==" />-->
    <!--<add key="StorageAccount" value="mpetnetdevtest" />
    <add key="StorageKey" value="JZCFeiwBgmKtWB/iSPZIDc4F3oSqrpsHDdMwDR23HABEZiuVF3QWyeNmkhyE5M8ptsWq2yCV+WRW+nsyjfrI3w==" />
    <add key="StorageContainer" value="attachments" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mpetnetdevtest;AccountKey=JZCFeiwBgmKtWB/iSPZIDc4F3oSqrpsHDdMwDR23HABEZiuVF3QWyeNmkhyE5M8ptsWq2yCV+WRW+nsyjfrI3w==;EndpointSuffix=core.windows.net" />-->
    <!--<add key="StorageAccount" value="mpetnetcokroads"/>
    <add key="StorageKey" value="y2V4xnccLeSnlYlr5e5bRIEUkXkS3I8IQ3CzNtlZDX2gyzTainJMxJk5XT3qZResRiIG5pcGGp4+sXw0KrMCfw=="/>
    <add key="StorageContainer" value="attachments"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mpetnetcokroads;AccountKey=y2V4xnccLeSnlYlr5e5bRIEUkXkS3I8IQ3CzNtlZDX2gyzTainJMxJk5XT3qZResRiIG5pcGGp4+sXw0KrMCfw==" />-->
    <!--<add key="StorageAccount" value="mpetnetcoy"/>
    <add key="StorageKey" value="+YpnU8jdgqpBlHGmvqbXD+2BwDbPLFkFIZS+WJkRLTLCMm/od//G6ta1XF700k8ev4W6YX40/c5Ujog+nmmZZQ=="/>
    <add key="StorageContainer" value="attachments"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mpetnetcoy;AccountKey=+YpnU8jdgqpBlHGmvqbXD+2BwDbPLFkFIZS+WJkRLTLCMm/od//G6ta1XF700k8ev4W6YX40/c5Ujog+nmmZZQ==" />-->
    <add key="StorageAccount" value="mpetnetcokroads"/>
    <add key="StorageKey" value="y2V4xnccLeSnlYlr5e5bRIEUkXkS3I8IQ3CzNtlZDX2gyzTainJMxJk5XT3qZResRiIG5pcGGp4+sXw0KrMCfw=="/>
    <add key="StorageContainer" value="attachments"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mpetnetcokroads;AccountKey=zbeSajqt0wskaj+6PZq+smxaHCD3PArlrRBQ82qw6KFlCI0thCFQlq2EXggoLZ1SaiJVirfuhpr+FtsW0Kl9Ng==" />
    <!--<add key="StorageAccount" value="mpetnethwyk"/>
    <add key="StorageKey" value="0YfTOz+KC6qwD6aJ8U8264gGxCkJ0bQcL10JKREiWgXJ2qlTVMs3fQGSO8vtrYTY+hwlbttbTc4lbGn/V1cNoQ=="/>
    <add key="StorageContainer" value="attachments"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mpetnethwyk;AccountKey=0YfTOz+KC6qwD6aJ8U8264gGxCkJ0bQcL10JKREiWgXJ2qlTVMs3fQGSO8vtrYTY+hwlbttbTc4lbGn/V1cNoQ==;EndpointSuffix=core.windows.net" />-->
    <add key="DatabaseVersion" value="2.0.5.3" />
    <add key="SiteVersion" value="1.2" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>